input[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--placeholder-e-rodape);
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:hover {
  background: var(--linear-gradiente);
  border: none;
}

input[type="checkbox"]:checked:after,
input[type="checkbox"]:hover:after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url('../images/icon-check.svg') center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}