.tarefa {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom : 1px solid var(--azul-acinzentado-claro);
}

.tarefa div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarefa label {
  font-size: .9rem;
  font-weight: 700;
  color: var(--azul-acinzentado-muito-escuro);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--azul-acinzentado-claro);
}

.tarefa .iconDeletaTarefa {
  opacity: 0;
  cursor: pointer;
}

.tarefa:hover .iconDeletaTarefa {
  opacity: 1;
}
