.navegacaoTarefas li {
  display: inline-block;
}

.navegacaoTarefas li:nth-child(2) {
  margin: 0 15px;
}

.navegacaoTarefas button.ativo {
  color: var(--azul-claro);
}

@media screen and (max-width: 630px) {
  nav {
    margin: 0 auto;
  }
}