@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.125rem;
}

:root {
  /* Cores neutras */
  --azul-claro: hsl(220, 98%, 61%);
  --linear-gradiente: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Tema Claro */
  --fundo-lista-tarefas: hsl(0, 0%, 98%);
  --body: hsl(236, 33%, 92%);
  --tarefa-concluida: hsl(233, 11%, 84%);
  --placeholder-e-rodape: hsl(236, 9%, 61%);
  --nome-tarefa: hsl(235, 19%, 35%);
}

body {
  background: var(--body);
}

.cabecalho {
  height: 17rem;
  background: url('./assets/images/bg-desktop-light.jpg') center/cover no-repeat;
}

.conteudo {
  width: 32rem;
  position: relative;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.conteudoCabecalho div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.conteudoCabecalho h1 {
  color: white;
  font-size: 2rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.conteudoCabecalho .iconeTema {
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  background: var(--fundo-lista-tarefas);
  padding: 20px 20px 15px;
  border-radius: 5px;
}

form .campoNovaTarefa {
  border: none;
  color: var(--nome-tarefa);
  background: transparent;
  width: 85%;
}

form .campoNovaTarefa::placeholder {
  color: var(--placeholder-e-rodape);
}

.conteinerTarefas {
  background: var(--fundo-lista-tarefas);
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px hsl(235deg 19% 35% / 19%);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 10px;
}

footer p {
  padding-top: 8px;
}

footer p,
footer button {
  font-size: .7rem;
  font-weight: 700;
  color: var(--placeholder-e-rodape);
}

footer button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 5px 0px;
  transition: color .4s;
}

footer button:hover {
  color: var(--nome-tarefa);
}

.rodapeDispositivoMovel {
  background: var(--fundo-lista-tarefas);
  box-shadow: 0 0 10px 1px hsl(235deg 19% 35% / 19%);
  border-radius: 5px;
  padding: 10px 0 15px;
}

.rodapeDispositivoMovel button {
  font-size: .8rem;
}

@media screen and (max-width: 630px){
  .cabecalho {
    background: url('./assets/images/bg-mobile-light.jpg') center/cover no-repeat;
  }

  .conteudo {
    width: 90%;
  }
}