@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

.cabecalho {
  height: 17rem;
  background: url('./assets/images/bg-desktop-light.jpg') center/cover no-repeat;
}

.conteudo {
  width: 32rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}
